<%- include("../partials/header")%> <%- include("../partials/navbar")%>
<div
    class="container"
    style="margin-top: 5rem; width: 80vw; margin-bottom: 11rem"
>
    <%- include('../partials/flash') %>
    <h1 class="mb-3">Login</h1>
    <form class="needs-validation" action="/login" method="POST" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">Email</label>
            <input
                type="email"
                class="form-control"
                id="username"
                placeholder="Username"
                name="username"
                required
            />
            <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                name="password"
                required
            />
            <div class="valid-feedback">Looks good!</div>
        </div>

        <button type="submit" class="btn btn-main m-3">Login</button>
        <a class="btn btn-main blue" href="/register">Sign Up</a>
    </form>
    <div class="row">
        <a href="/auth/google" class="btn btn-main blue ml-5">
            <i class="fa fa-google text-lg text-white mr-2"></i> Sign In with
            Google
        </a>
    </div>
</div>

<%- include("../partials/footer")%>
