<%- include("../partials/header")%> <%- include("../partials/navbar")%>
<div
    class="container"
    style="margin-top: 5rem; width: 80vw; margin-bottom: 11rem"
>
    <%- include('../partials/flash') %>
    <h1 class="">Login</h1>
    <form
        class="validated-form"
        action="/login"
        method="POST"
        style="max-width: 70%; margin: 10px auto"
        novalidate
    >
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
                type="text"
                class="form-control"
                id="username"
                placeholder="User Name"
                name="username"
                required
            />
            <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password </label>
            <input
                type="password"
                class="form-control"
                id="password"
                placeholder="password"
                name="password"
                required
            />
            <div class="valid-feedback">Looks good!</div>
        </div>

        <button type="submit" class="btn btn-success">Login</button>
    </form>
    <a class="btn btn-primary" href="/register">Sign Up</a>
</div>

<%- include("../partials/footer")%>
