<%- include("../partials/header")%> <%- include("../partials/navbar")%>
<div class="container" style="margin-top: 5rem; margin-bottom: 11rem">
    <%- include('../partials/flash') %>
    <h1 class="mb-5">Sign Up</h1>
    <form
        class="needs-validation"
        action="/register"
        method="POST"
        style="max-width: 70%; margin: 10px auto"
        oninput='password2.setCustomValidity(password2.value != password.value ? "Passwords do not match." : "")'
        novalidate
    >
        <div class="mb-3">
            <label for="username" class="form-label">E-mail</label>
            <input
                type="email"
                class="form-control"
                id="username"
                placeholder="Username"
                name="username"
                required
            />
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Name</label>
            <input
                type="title"
                class="form-control"
                id="title"
                placeholder="Name"
                name="title"
                required
            />
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password </label>
            <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                name="password"
                required
            />
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password </label>
            <input
                type="password"
                class="form-control"
                id="password2"
                placeholder="Confirm Password"
                name="password2"
                required
            />
            <div class="valid-feedback">Looks good!</div>
        </div>

        <button type="submit" class="btn-main">Submit</button>

        <a href="/auth/google" class="btn btn-main blue ml-5">
            <i class="fa fa-google text-lg text-white mr-2"></i> Sign In with
            Google
        </a>
    </form>
</div>

<%- include("../partials/footer")%>
