<%- include("./partials/header")%>

<div class="container mt-3">
    <%- include("./partials/flash")%>
    <h1>Something mishappend !</h1>
</div>
<div class="padding"></div>

<%- include("./partials/footer")%>
