*,
html {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}
body {
    min-height: 100%;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0px;
    z-index: 99;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    flex-grow: 1;
}
.logo a {
    color: #ec9f05;
    font-weight: bold;
    font-family: 'Oswald';
    font-size: 1.8em;
}
.logo a:hover {
    color: #ec9f05;
    font-weight: bold;
    font-family: 'Oswald';
    font-size: 1.8em;
    text-decoration: none;
}
.logo img {
    height: 50px;
    width: 50px;
}
nav ul {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    flex-wrap: wrap;
    flex-grow: 3;
}
nav li {
    display: flex;
    justify-content: center;
    cursor: pointer;
    list-style: none;
    padding: 10px;
    flex-grow: 1;
    font-family: 'Roboto';
    font-size: 1.2em;
    color: #fff;
    font-weight: bolder;
}
.btn-sec {
    background-color: #ec9f05;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    margin: 5px;
    transition: all 0.2s ease;
    font-family: 'Oswald';
}
.btn-sec:hover {
    background-color: #fff;
    color: #ec9f05;
}

.btn-main {
    padding: 15px 30px;
    border-radius: 40px;
    color: #000;
    font-family: 'oswald';
    font-weight: lighter;
    font-size: 1.1em;
    background-color: #ec9f05;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.btn-main:after {
    font-family: 'FontAwesome';
    content: '\f105';
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    position: absolute;
    opacity: 0;
    top: 15px;
    right: -20px;
    transition: 0.5s;
}

.btn-main:hover {
    padding-right: 50px;
    padding-left: 30px;
    font-weight: normal;
}

.btn-main:hover:after {
    opacity: 1;
    right: 20px;
}

.blue {
    background-color: royalblue;
    color: #fff;
}
.blue:hover {
    background-color: #fff;
    color: royalblue;
}

nav .icons-user {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 0;
    padding: 20px;
    font-weight: bold;
    flex-grow: 1;
    font-size: 1.2em;
}
nav .icons-user i {
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px;
    color: #fff;
    transition: all 0.3s ease;
}
nav .icons-user i:hover {
    color: #ec9f05;
}

.padding {
    padding-bottom: 150px;
}
.oswald {
    font-family: 'Oswald';
}

@media only screen and (max-width: 600px) {
    /* MENU Bar */
    #menuicon {
        height: 25px;
        width: 50px;
        position: fixed;
        top: 50px;
        right: 5%;
    }
    #menuicon:hover {
        cursor: pointer;
    }
    #menuline {
        height: 6px;
        width: 50px;
        background-color: royalblue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s;
        z-index: 99;
    }
    #menuicon:hover #menuline {
        width: 40px;
    }
    #menuline:before {
        content: '';
        height: 6px;
        width: 40px;
        background-color: royalblue;
        position: absolute;
        margin-top: 10px;
        transition: all 0.3s;
    }

    #menuicon:hover #menuline::before {
        width: 50px;
    }
    #menuline:after {
        content: '';
        height: 6px;
        width: 40px;
        background-color: royalblue;
        position: absolute;
        margin-top: -10px;
        transition: all 0.3s;
    }

    #menuicon:hover #menuline::after {
        width: 50px;
    }
    #mainmenu {
        height: 100vh;
        width: 300px;
        background-color: rgba(0, 0, 0, 0.9);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
        position: fixed;
        top: 0px;
        left: -300px;
        z-index: 999999;
        transition: all 0.5s ease-in-out;
    }
    nav {
        width: 60vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        flex-wrap: wrap;
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
    }
    #close {
        display: flex;
        justify-content: center;
    }
    #close i {
        color: rgb(187, 187, 187);
        border: 1px solid rgb(187, 187, 187);
        padding: 10px;
        border-radius: 50%;
        margin-top: 20px;
        font-size: 1.3em;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    #close i:hover {
        color: #ec9f05;
        border-color: #ec9f05;
    }
    nav .icons-user {
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
    }
    /*Menu bar ends */
    .padding {
        padding-bottom: 0px;
    }
}

/*


 Footer  Styles
 
 
 */

footer {
    background-color: #fff;
    position: relative;
    top: 300px;
    margin-top: auto;
}
.footerbackgrnd {
    background-color: #181818;
    position: absolute;
    bottom: 0px;
    height: 300px;
    width: 100%;
    overflow: hidden;
}
.footerhead {
    text-align: center;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 1.5em;
    float: left;
    width: 50%;
    color: #fff;
}
.footerhead.week {
    font-size: 1em;
    position: absolute;
    left: 25%;
    top: 11.5em;
    cursor: pointer;
}
.stline {
    width: 3.2em;
    position: absolute;
    top: 9.5em;
    left: 49%; /*Mobile */
    transform: rotate(90deg);
    background-color: #fff;
}
.sideline {
    float: left;
    margin-top: 2.35em;
    width: 15%;
    background-color: #fff;
}
.sideline:first-child {
    margin-left: 10%;
}
.ftimglinks {
    position: absolute;
    top: 75px;
    left: 50%;
    height: 20px;
    width: 20px;
    fill: goldenrod;
}
.ftimglinks:first-of-type {
    left: 30%;
}
.ftimglinks:last-of-type {
    left: 70%;
}
.footerlinks {
    position: absolute;
    top: 10em;
    font-family: 'Roboto';
    font-size: 0.8em;
}
.footerlinks.right {
    text-align: left;
    left: 70%;
}
.footerlinks.left {
    right: 68.5%;
    text-align: right;
}
.footerlinks.bottom {
    top: 18em;
    right: 10%;
}
.footerlinks > p > a {
    text-decoration: none;
    color: #fff;
}
.btn a {
    text-decoration: none;
    color: black;
}
.btn.mail {
    top: 22.5em;
    width: 15em;
    height: 2.5em;
    background-color: whitesmoke;
    border: solid 0.5px black;
    font-size: 0.7em;
    border-radius: 0px;
}
.btn.mail:before {
    background-color: goldenrod;
}
.btn.subs {
    top: 25em;
    width: 15em;
    height: 2.5em;
    background-color: whitesmoke;
    border: solid 0.5px black;
    border-radius: 0px;
    font-size: 0.7em;
    margin-bottom: 2em;
}
.btn.subs:before {
    background-color: goldenrod;
}

/* 
  
  Mobile Styles 
  
  */

@media screen and (max-width: 768px) {
    .stline {
        left: 48%;
    }
}

@media screen and (max-width: 450px) {
    .stline {
        left: 47%;
    }
}
