<%- include("../partials/header") %> <%- include("../partials/navbar") %>
<link rel="stylesheet" href="/css/app.css" />

<div class="container"><%- include('../partials/flash') %></div>

<div class="mcontainer">
    <h1 class="edit">Add New Products</h1>

    <form
        method="post"
        action="/products/new"
        class="row g-3 needs-validation"
        enctype="multipart/form-data"
        novalidate
    >
        <div class="mb-3 col-12">
            <label for="image" class="form-label">Upload .xlsx</label>
            <input
                type="file"
                name="products[file]"
                placeholder="file"
                class="form-control"
                id="image"
            />
        </div>
        <br /><br />

        <button class="col-3 btn btn-main mb-5 ml-3" type="submit">
            Submit
        </button>
    </form>
</div>
<%- include("../partials/footer") %>
