<nav>
    <div class="logo">
        <img src="/assets/logo.png" alt="" />
        Shop
    </div>
    <ul>
        <li>Men</li>
        <li>Women</li>
        <li>Kids</li>
    </ul>
    <div class="icons">
        <i class="fa fa-search" aria-hidden="true"></i>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <i class="fa fa-user-o" aria-hidden="true"></i>
    </div>
</nav>
