<%- include("../partials/header") %> <%- include("../partials/navbar") %>

<div class="container">
    <h1 style="padding-top: 100px">New Product</h1>

    <form
        method="post"
        action="/products/new"
        class="row g-3 needs-validation"
        novalidate
    >
        <div class="mb-3 col-6">
            <label for="title" class="form-label">Title</label>
            <input
                type="text"
                name="product[title]"
                placeholder="Title"
                class="form-control"
                id="title"
                required
            />
        </div>
        <br /><br />

        <div class="mb-3 col-6">
            <label for="title" class="form-label">Price</label>
            <input
                type="number"
                name="product[price]"
                placeholder="Title"
                class="form-control"
                id="number"
                required
            />
        </div>
        <br /><br />
        <div class="mb-3 col-12">
            <label for="image" class="form-label">Blog Image URL</label>
            <input
                type="text"
                name="product[image]"
                placeholder="Image"
                class="form-control"
                id="image"
            />
        </div>
        <br /><br />

        <div class="mb-3 col-12">
            <label for="desc" class="form-label">Description</label>
            <textarea
                name="product[description]"
                placeholder="Description"
                class="form-control"
                id="desc"
                rows="12"
                required
            ></textarea>
        </div>
        <input
            class="col-3 btn btn-primary mb-5 ml-3"
            type="submit"
            value="Submit"
        />
    </form>
</div>
<%- include("../partials/footer") %>
