<%- include("./header.ejs") %> <%- include("./navbar.ejs") %>

<h1>Insert new Product</h1>
<div class="container">
    <form action="/new" method="post">
        Name:
        <input type="text" name="title" />
        <br /><br />
        Price:
        <input type="number" name="price" />
        <br /><br />
        Description:
        <textarea name="description" cols="30" rows="10"></textarea>
        <br /><br />
        Image Url:
        <input type="text" name="image" />
        <br /><br />
        <input type="submit" value="Submit" />
    </form>
    <a href="/products"><button>Go Back</button></a>
</div>

<%- include("./footer.ejs") %>
